# ===============================
# Java / Maven
# ===============================
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# ===============================
# IDE / Editors
# ===============================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.apt_generated
.factorypath
.sts4-cache/
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
# VS Code
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Local Config
# ===============================
.env
application-local.properties

